pipeline/Enabling Log.json
{
	"name": "Enabling Log",
	"properties": {
		"activities": [
			{
				"name": "Enabling Log testing",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "LoadTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Info",
							"enableReliableLogging": true
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"path": "data"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "srcEnablingLog",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "desEnablingLog",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log fail activity error",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Enabling Log testing",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdateErrorTable]",
					"storedProcedureParameters": {
						"copyDuration_in_secs": {
							"value": {
								"value": "@{activity('Enabling Log testing').output.copyDuration}",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataFactory_Name": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"effectiveIntegrationRuntime": {
							"value": {
								"value": "@{activity('Enabling Log testing').output.effectiveIntegrationRuntime}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@{activity('Enabling Log testing').error.errorCode}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorDescription": {
							"value": {
								"value": "@{activity('Enabling Log testing').error.message}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": "@utcnow()",
							"type": "String"
						},
						"Execution_Status": {
							"value": {
								"value": "@{activity('Enabling Log testing').output.executionDetails[0].status}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@concat(activity('Enabling Log testing').error.message,'failureType:',activity('Enabling Log testing').error.failureType)\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"No_ParallelCopies": {
							"value": {
								"value": "@{activity('Enabling Log testing').output.usedParallelCopies}\n",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunId": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('Enabling Log testing').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('Enabling Log testing').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": "@{pipeline().TriggerTime}",
							"type": "String"
						},
						"TriggerType": {
							"value": "@{pipeline().TriggerType}",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_des_POC",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Pipeline log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Enabling Log testing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdateLogTable]",
					"storedProcedureParameters": {
						"CopyActivity_End_Time": {
							"value": "@{utcnow()}",
							"type": "String"
						},
						"CopyActivity_queuingDuration_in_secs": {
							"value": {
								"value": "@{activity('Enabling Log testing').output.executionDetails[0]. detailedDurations.queuingDuration}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"CopyActivity_Start_Time": {
							"value": {
								"value": "@{activity('Enabling Log testing').output.executionDetails[0].start}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"CopyActivity_transferDuration_in_secs": {
							"value": {
								"value": "@{activity('Enabling Log testing').output.executionDetails[0]. detailedDurations.transferDuration}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"copyDuration_in_secs": {
							"value": {
								"value": "@{activity('Enabling Log testing').output.copyDuration}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataFactory_Name": {
							"value": "@{pipeline().DataFactory}",
							"type": "String"
						},
						"effectiveIntegrationRuntime": {
							"value": {
								"value": "@{activity('Enabling Log testing').output.effectiveIntegrationRuntime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status": {
							"value": {
								"value": "@{activity('Enabling Log testing').output.executionDetails[0].status}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"No_ParallelCopies": {
							"value": {
								"value": "@{activity('Enabling Log testing').output.usedParallelCopies}\n    ",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"rowsCopied": {
							"value": {
								"value": "@{activity('Enabling Log testing').output.rowsCopied}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('Enabling Log testing').output.executionDetails[0].sink.type}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": "@{pipeline().TriggerType}",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_des_POC",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}